/* Общие сбросы и базовые стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(29,16,24);
  color: #333;
  line-height: 1.6;
}

/* Контейнер приложения */
.app-container {
  max-width: 1080px;
  margin: 60px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Заголовок приложения */
.app-title {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 30px;
  font-weight: bold;
}

/* Навигационные кнопки */
.navigation {
  margin-bottom: 30px;
}

.nav-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  text-decoration: none; /* Убирает подчеркивание текста */
}


.nav-button:hover {
  background-color: #0056b3;
}

/* Поля ввода формы */
form div {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

textarea {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  resize: none;
}

/* Кнопки формы */
button {
  background-color: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

/* Кнопка регистрации */
.logout-button {
  position: absolute; /* Размещаем в верхнем правом углу */
  top: 20px;
  right: 20px;
  background-color: #dc3545; /* Красный цвет для кнопки выхода */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d63a45;
}

/* Ошибки и уведомления */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}
body.dark {
  background-color: #121212;
}
/* Адаптивность */
@media (max-width: 768px) {
  .nav-button {
    margin: 10px 0;
    width: 90%;
    max-width: 400px;
  }

  .app-title {
    font-size: 30px;
  }

  .app-container {
    padding: 20px;
  }
}

